// All styles for header component

@import "variables";

.header {
  width: 100%;

  // header-top
  &-top {
    background: $primaryColor;
    padding: 4px 0;
    margin-bottom: 25px;

    .container {
      display: flex;
      justify-content: flex-end;
    }

    .contact-item {
      &:last-child {
        margin-left: 20px;
      }

      svg {
        width: 17px;
        stroke: $link-color;
        margin-right: 10px;
        font-weight: bold;
      }

      a {
        text-decoration: none;
        font-size: 0.85rem;
        font-weight: bold;
        color: $link-color;
      }
    }
  }

  .logo {
    a {
      color: $textColor;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .navigation {
    ul {
      li {
        display: inline-block;
        margin-left: 20px;
        font-weight: bold;
        a {
          color: $textColor;
        }
      }
    }
  }

  //mobiles

  @media screen and (max-width: 640px) {
    .navigation {
      display: none;
    }

    .logo {
      text-align: center;
      a {
        font-size: 14px;
      }
    }
  }

  @media screen and (min-width: 641px) {
    .logo {
      a {
        font-size: 18px;
      }
    }

    .navigation {
      display: none;

      ul {
        li {
          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  @media screen and (min-width: 993px) {
    .navigation {
      display: none;
    }
  }

  @media screen and (min-width: 1281px) {

    .hamburger{
      display: none;
    }
    .logo {
      a {
        font-size: 20px;
      }
    }

    .navigation {
      display: inline-flex;
      li {
        font-size: 20px;
      }
    }
  }
}
