@import "variables";

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;


  &-image {
    margin-top: 5px;
    width: 100%;
    display: block;
    border-radius: 30px;

 
  }
  .hero-img {
    position: relative;


    .text {
      color: rgb(255, 255, 255);
      font-size: 50px;
      position: absolute;
      top: 60%;
      left: 5%;
      padding-right: 150px;
    
      .button {
        display: inline-block;
        background-color: $primaryColor;
        border-radius: 20px;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 150px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      
      
      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      
    
      .button span:after {
        content: '>>';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      
      
      .button:hover span {
        padding-right: 25px;
      
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
    }
  }
}
      }
    }
  }

  .container {
    padding: 0;

    .row {
      margin-top: 100px;
      text-align: center;

      .col-sm-12 {
        padding: 0;

        h3 {
          font-size: 55px;
          text-align: center;
        }
        p {
          margin-bottom: 70px;
          font-size: 20px;
          text-align: left;
        }
        .last-text {
          margin-bottom: -100px;
        }
      }

      .detective-info {
        color: black;
        text-align: left;

        p {
          margin-top: 20px;
          margin-bottom: 240px;
        }
      }

      h1 {
        margin-bottom: 30px;
        font-weight: bold;
        text-align: left;
      }

      h3 {
        font-weight: bold;
      }

      p {
        padding-top: 25px;
      }
    }
  }
}

//mobiles

@media screen and (max-width: 640px) {
.hero {

.container {
  .text {
    font-size: 25px;
    top: 50%;
    left: 1%;

    .button {
      width: 100px;
      height: 40px;
      font-size: 16px;
      padding: 0 0px 0 0;
    }
  }
  .row {

    margin-left: 10px;
    margin-right: 10px;
  .col-sm-12 {
    padding: 0;

    h3 {
      font-size: 25px;
    }
    p {
      font-size: 16px;
    }
    h1 {
      text-align: center;
    }

  }
  }
}
}
 

  h3 {
    font-size: 18px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    margin: 10px 20px 30px;
  }

  .detective-info {
    p {
      font-size: 16px;
      margin-left: 25px;
      margin-right: 25px;
    }
  }
}
@media screen and (min-width: 641px) and (max-width: 992px) {
  .hero {

    .container {

      .text {
        font-size: 35px;
        top: 50%;
        left: 1%;
        padding: 10px 10px 0 10px;
        line-height: 1.4;
    
        .button {
          width: 100px;
          height: 40px;
          font-size: 16px;
          padding: 0 0 0 0;  
        }
      }
    
      .row {
    
      
      .col-sm-12 {
        padding: 0;
    
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 16px;
          
          
        }
        h1 {

          margin-left: 10px;
          margin-bottom: 0;
        }



        }

      }
      }
    }
    }


  h3 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }


@media screen and (min-width: 993px) and (max-width: 1280px) {
  .hero {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    .container {

      .text {
        font-size: 45px;
        top: 50%;
        left: 1%;
        padding: 10px 100px 0 20px;
        line-height: 1.4;
    
        .button {
          width: 120px;
          height: 50px;
          font-size: 16px;
          padding: 0 0 0 0;  
          
        }
      }
    
      .row {
    
      
      .col-sm-12 {
        padding: 0;
    
        h3 {
          font-size: 35px;
        }
        p {
          font-size: 16px;
        }
        h1 {

          margin-left: 10px;
          margin-bottom: 0;
        }
      }
      }
    }
  }
}


@media screen and (min-width: 1281px) {
  .hero {

    .container {
    
      .row {
    
      
      .col-sm-12 {
        padding: 0;
    
        h3 {
          font-size: 40px;
        }
        p {
          font-size: 16px;
        }
        h1 {

          margin-left: 10px;
          margin-bottom: 0;
        }
      }
      }
    }
    }
}
