@import "variables";

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;

  &-image {
      margin-top: 5px;
    width: 100%;
    display: block;
  }

  .container {
    padding: 0;

    .row {
      margin-top: 100px;
      text-align: center;

      .dupa {
        color: black;
        text-align: left;

        p {
            margin-top: 20px;
            margin-bottom: 240px;
        }
      }
      .col-sm-12 {
        h1 {
            margin-bottom: 30px;
          font-weight: bold;
          text-align: left;
          border-bottom: black 1px;
        }
      }
      .col-sm-4 {
        color: black;

        h3 {
          font-weight: bold;
         
        }

        p {
          padding-top: 25px;
        }
      }
    }
  }
}
